.complete{
    text-decoration:  line-through;
    
}

.mainCon{
    margin: auto;
    padding: 15px;
    width:450px;
    border: double black;
    background-color: rgb(202, 197, 197);
    box-shadow: 0px 3px 22px 2px rgba(168,166,168,1);
}

li{
    list-style:none;
    width: 440PX;
    border-bottom: 1px solid grey;
    height: 30px;
    font-size: 18px;
    padding-top: 3px; 
    margin-top: 8px;
    line-height: 20px;
    background-color: rgb(103, 103, 107);
    border-radius: 10px;
    padding-left: 5px;
    color: white;
}

ul{
    padding: 0;
}

.listCon{
    display: flex;
}

input{
    height:30px;
    font-size: 20px;
    outline: none;
    width: 445px;
    border:none;
    border-bottom: 1px solid rgb(167, 163, 163);
    background: transparent;
    color:black;
}

.deletebutton{
    background-color: rgb(153, 44, 44);
    height: 18px;
    color:white;
    margin-top: 16px;
    margin-left: 3px;
}

.filterCon{
    display:flex;
    justify-content: space-around;

}

.filterButton{
    height: 30px;
    background-color: rgb(155, 134, 134);
    color:white;
    margin-top: 9px;
}