.complete{
    text-decoration: line-through;
}

.mainCon{
    margin: auto;
    padding: 15px;
    width:450px;
    border: 1px solid blue;
}

li{
    list-style:none;
    width: 440PX;
    border-bottom: 1px solid grey;
    height: 30px;
    font-size: 18px;
    padding-top: 3px; 
}

ul{
    padding: 0;
}

.listCon{
    display: flex;
}

input{
    outline: none;
    width: 445px;
}
